In [1]:
import pandas as pd
import psycopg2
import plotly.express as px
import requests
import json

In [2]:
#DataFrame Creation

#Table for SQL Creation

mydb=psycopg2.connect(host="localhost",
                      user="postgres",
                      password="postgres",
                      database="phone_pe",
                      port="5432")
cursor=mydb.cursor()

#agg_insurance_df
cursor.execute("SELECT * FROM agg_transaction")
mydb.commit()
table1=cursor.fetchall()

Agg_Insurance=pd.DataFrame(table1, columns=("States","Years","Quarter","Transaction_Type","Transaction_count","Transaction_Amount"))

#agg_transaction_df
cursor.execute("SELECT * FROM agg_transaction")
mydb.commit()
table2=cursor.fetchall()

Agg_Transaction=pd.DataFrame(table2, columns=("States","Years","Quarter","Transaction_Type","Transaction_count","Transaction_Amount"))

#agg_user_df
cursor.execute("SELECT * FROM agg_user")
mydb.commit()
table3=cursor.fetchall()

Agg_User=pd.DataFrame(table3, columns=("States","Years","Quarter","Brands","Transaction_count","Percentage"))


#map_insurance_df
cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
table4=cursor.fetchall()

Map_Insurance=pd.DataFrame(table4, columns=("States","Years","Quarter","District","Transaction_count","Transaction_Amount"))

#map_transaction_df
cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table5=cursor.fetchall()

Map_Transaction=pd.DataFrame(table5, columns=("States","Years","Quarter","District","Transaction_count","Transaction_Amount"))

#map_user_df
cursor.execute("SELECT * FROM map_user")
mydb.commit()
table6=cursor.fetchall()

Map_User=pd.DataFrame(table6, columns=("States","Years","Quarter","Districts","RegisteredUser","AppOpens"))

#top_insurance_df
cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
table7=cursor.fetchall()

Top_Insurance=pd.DataFrame(table7, columns=("States","Years","Quarter","Pincodes","Transaction_count","Transaction_Amount"))

#top_transaction_df
cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table8=cursor.fetchall()

Top_Transaction=pd.DataFrame(table8, columns=("States","Years","Quarter","Pincodes","Transaction_count","Transaction_Amount"))

#top_user_df
cursor.execute("SELECT * FROM top_user")
mydb.commit()
table9=cursor.fetchall()

Top_User=pd.DataFrame(table9, columns=("States","Years","Quarter","Pincodes","RegisteredUsers"))

In [3]:
#Table for SQL Creation

def Top_Chart_transaction_Amount(table_name):
        mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="postgres",
                        database="phone_pe",
                        port="5432")
        cursor=mydb.cursor()

        #query1
        query1= f'''SELECT States, SUM(Transaction_Amount) AS Transaction_Amount
                        FROM {table_name}
                        GROUP BY states
                        ORDER BY Transaction_Amount DESC
                        LIMIT 10;'''

        cursor.execute(query1)
        table_1=cursor.fetchall()
        mydb.commit()

        df_1=pd.DataFrame(table_1, columns=("States", "Transaction_Amount"))
        df_1

        fig_Amount=px.bar(df_1, x="States", y="Transaction_Amount",  title= "TRANSACTION AMOUNT", hover_name="States",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
        fig_Amount.show()

        #query2
        query2= f'''SELECT states, SUM(Transaction_Amount) AS Transaction_Amount
                        FROM {table_name}
                        GROUP BY states
                        ORDER BY Transaction_Amount
                        LIMIT 10;'''

        cursor.execute(query2)
        table_2=cursor.fetchall()
        mydb.commit()

        df_2=pd.DataFrame(table_2, columns=("States", "Transaction_Amount"))

        fig_Amount_B=px.bar(df_2, x="States", y="Transaction_Amount",  title= "TRANSACTION AMOUNT", hover_name="States",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
        fig_Amount_B.show()


        #query3
        query3= f'''SELECT States, AVG(Transaction_Amount) AS Transaction_Amount
                        FROM {table_name}
                        GROUP BY States
                        ORDER BY Transaction_Amount;;'''

        cursor.execute(query3)
        table_3=cursor.fetchall()
        mydb.commit()

        df_3=pd.DataFrame(table_3, columns=("States", "Transaction_Amount"))

        fig_Amount_C=px.bar(df_3, y="States", x="Transaction_Amount",  title= "TRANSACTION AMOUNT", hover_name="States", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered, height=650, width=600)
        fig_Amount_C.show()

In [4]:
#Table for SQL Creation

def Top_Chart_transaction_count(table_name):
        mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="postgres",
                        database="phone_pe",
                        port="5432")
        cursor=mydb.cursor()

        #query1
        query1= f'''SELECT States, SUM(Transaction_count) AS Transaction_count
                        FROM {table_name}
                        GROUP BY states
                        ORDER BY Transaction_count DESC
                        LIMIT 10;'''

        cursor.execute(query1)
        table_1=cursor.fetchall()
        mydb.commit()

        df_1=pd.DataFrame(table_1, columns=("States", "Transaction_count"))


        fig_Amount=px.bar(df_1, x="States", y="Transaction_count",  title= "TRANSACTION COUNT", hover_name="States",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
        fig_Amount.show()

        #query2
        query2= f'''SELECT states, SUM(Transaction_count) AS Transaction_count
                        FROM {table_name}
                        GROUP BY states
                        ORDER BY Transaction_count
                        LIMIT 10;'''

        cursor.execute(query2)
        table_2=cursor.fetchall()
        mydb.commit()

        df_2=pd.DataFrame(table_2, columns=("States", "Transaction_count"))

        fig_Amount_B=px.bar(df_2, x="States", y="Transaction_count",  title= "TRANSACTION COUNT", hover_name="States",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
        fig_Amount_B.show()


        #query3
        query3= f'''SELECT States, AVG(Transaction_count) AS Transaction_count
                        FROM {table_name}
                        GROUP BY States
                        ORDER BY Transaction_count;'''

        cursor.execute(query3)
        table_3=cursor.fetchall()
        mydb.commit()

        df_3=pd.DataFrame(table_3, columns=("States", "Transaction_count"))

        fig_Amount_C=px.bar(df_3, y="States", x="Transaction_count",  title= "TRANSACTION COUNT", hover_name="States", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered, height=650, width=600)
        fig_Amount_C.show()

In [5]:
#Table for SQL Creation

def Top_Chart_Regustered_User(table_name, state):
        mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="postgres",
                        database="phone_pe",
                        port="5432")
        cursor=mydb.cursor()

        #query1
        query1= f'''SELECT Districts, SUM(RegisteredUser) AS RegisteredUser
                        From {table_name}
                        where states = '{state}'
                        GROUP BY Districts
                        ORDER BY RegisteredUser DESC
                        LIMIT 10;'''

        cursor.execute(query1)
        table_1=cursor.fetchall()
        mydb.commit()

        df_1=pd.DataFrame(table_1, columns=("Districts", "RegisteredUser"))

        fig_Amount=px.bar(df_1, x="Districts", y="RegisteredUser",  title= "TOP 10 OF REGISTERED USER", hover_name="Districts",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
        fig_Amount.show()

        #query2
        query2= f'''SELECT Districts, SUM(RegisteredUser) AS RegisteredUser
                        From {table_name}
                        where states = '{state}'
                        GROUP BY Districts
                        ORDER BY RegisteredUser
                        LIMIT 10;'''

        cursor.execute(query2)
        table_2=cursor.fetchall()
        mydb.commit()

        df_2=pd.DataFrame(table_2, columns=("Districts", "RegisteredUser"))

        fig_Amount_B=px.bar(df_2, x="Districts", y="RegisteredUser",  title= "LAST 10 OF REGISTERED USER", hover_name="Districts",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
        fig_Amount_B.show()


        #query3
        query3= f'''SELECT Districts, AVG(RegisteredUser) AS RegisteredUser
                        From {table_name}
                        where states = '{state}'
                        GROUP BY Districts
                        ORDER BY RegisteredUser;'''

        cursor.execute(query3)
        table_3=cursor.fetchall()
        mydb.commit()

        df_3=pd.DataFrame(table_3, columns=("Districts", "RegisteredUser"))

        fig_Amount_C=px.bar(df_3, y="Districts", x="RegisteredUser",  title= "AVERAGE OF REGISTERED USER", hover_name="Districts", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered, height=650, width=600)
        fig_Amount_C.show()

In [6]:
#Table for SQL Creation

def Top_Chart_AppOpens(table_name, state):
        mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="postgres",
                        database="phone_pe",
                        port="5432")
        cursor=mydb.cursor()

        #query1
        query1= f'''SELECT Districts, SUM(AppOpens) AS AppOpens
                        From {table_name}
                        where states = '{state}'
                        GROUP BY Districts
                        ORDER BY AppOpens DESC
                        LIMIT 10;'''

        cursor.execute(query1)
        table_1=cursor.fetchall()
        mydb.commit()

        df_1=pd.DataFrame(table_1, columns=("Districts", "AppOpens"))

        fig_Amount=px.bar(df_1, x="Districts", y="AppOpens",  title= "TOP 10 OF APPOPENS", hover_name="Districts",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
        fig_Amount.show()

        #query2
        query2= f'''SELECT Districts, SUM(AppOpens) AS AppOpens
                        From {table_name}
                        where states = '{state}'
                        GROUP BY Districts
                        ORDER BY AppOpens
                        LIMIT 10;'''

        cursor.execute(query2)
        table_2=cursor.fetchall()
        mydb.commit()

        df_2=pd.DataFrame(table_2, columns=("Districts", "AppOpens"))

        fig_Amount_B=px.bar(df_2, x="Districts", y="AppOpens",  title= "LAST 10 OF APPOPENS", hover_name="Districts",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
        fig_Amount_B.show()


        #query3
        query3= f'''SELECT Districts, AVG(AppOpens) AS AppOpens
                        From {table_name}
                        where states = '{state}'
                        GROUP BY Districts
                        ORDER BY AppOpens;'''

        cursor.execute(query3)
        table_3=cursor.fetchall()
        mydb.commit()

        df_3=pd.DataFrame(table_3, columns=("Districts", "AppOpens"))

        fig_Amount_C=px.bar(df_3, y="Districts", x="AppOpens",  title= "AVERAGE OF APPOPENS", hover_name="Districts", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered, height=650, width=600)
        fig_Amount_C.show()

In [7]:
#Table for SQL Creation

def Top_Chart_Top_Users(table_name):
        mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="postgres",
                        database="phone_pe",
                        port="5432")
        cursor=mydb.cursor()

        #query1
        query1= f'''SELECT States, SUM(RegisteredUsers) AS RegisteredUsers
                        From {table_name}
                        GROUP BY States
                        ORDER BY RegisteredUsers DESC
                        LIMIT 10;'''

        cursor.execute(query1)
        table_1=cursor.fetchall()
        mydb.commit()

        df_1=pd.DataFrame(table_1, columns=("States", "RegisteredUsers"))

        fig_Amount=px.bar(df_1, x="States", y="RegisteredUsers",  title= "TOP 10 OF TOP USER", hover_name="States",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
        fig_Amount.show()

        #query2
        query2= f'''SELECT States, SUM(RegisteredUsers) AS RegisteredUsers
                        From {table_name}
                        GROUP BY States
                        ORDER BY RegisteredUsers
                        LIMIT 10;'''

        cursor.execute(query2)
        table_2=cursor.fetchall()
        mydb.commit()

        df_2=pd.DataFrame(table_2, columns=("States", "RegisteredUsers"))

        fig_Amount_B=px.bar(df_2, x="States", y="RegisteredUsers",  title= "LAST 10 OF TOP USER", hover_name="States",  
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)
        fig_Amount_B.show()


        #query3
        query3= f'''SELECT States, AVG(RegisteredUsers) AS RegisteredUsers
                        From {table_name}
                        GROUP BY States
                        ORDER BY RegisteredUsers;'''

        cursor.execute(query3)
        table_3=cursor.fetchall()
        mydb.commit()

        df_3=pd.DataFrame(table_3, columns=("States", "RegisteredUsers"))

        fig_Amount_C=px.bar(df_3, y="States", x="RegisteredUsers",  title= "AVERAGE OF TOP USER", hover_name="States", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered, height=650, width=600)
        fig_Amount_C.show()

In [ ]:
Top_Chart_transaction_count("agg_transaction")

In [ ]:
Top_Chart_transaction_Amount("agg_transaction")

In [ ]:
Top_Chart_Regustered_User('map_user', 'Tamil Nadu')

In [ ]:
Top_Chart_AppOpens('map_user', 'Tamil Nadu')

In [ ]:
Top_Chart_Top_Users("top_user")

In [8]:
#Transaction_Year_Based
def Transaction_amount_count_Year(df,  year):
    Trans=df[df["Years"]==year]
    Trans.reset_index(drop=True, inplace=True)

    transG=Trans.groupby("States")[["Transaction_count","Transaction_Amount"]].sum()
    transG.reset_index(inplace=True)

    fig_Amount=px.bar(transG, x="States", y="Transaction_Amount",  title=f"{year} TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_Amount.show()


    fig_Count=px.bar(transG, x="States", y="Transaction_count",  title=f"{year} TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Agsunset, height=650, width=600)
    fig_Count.show()


    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response=requests.get(url)
    data1=json.loads(response.content)

    state_name=[]
    for features in data1["features"]:
        state_name.append(features["properties"]["ST_NM"])
    state_name.sort()

    fig_ind_map1=px.choropleth(transG, geojson=data1, locations="States", featureidkey="properties.ST_NM", 
                               color= "Transaction_Amount", color_continuous_scale= "ylgnbu", 
                               range_color=(transG["Transaction_Amount"].min(), transG["Transaction_Amount"].max()),
                               hover_name="States", title=f"{year} TRANSACTION AMOUNT", fitbounds= "locations",
                               height=600,width=600)
    
    
    fig_ind_map1.update_geos(visible=False)
    fig_ind_map1.show()

    fig_ind_map2=px.choropleth(transG, geojson=data1, locations="States", featureidkey="properties.ST_NM", 
                               color= "Transaction_count", color_continuous_scale= "ylgnbu", 
                               range_color=(transG["Transaction_count"].min(), transG["Transaction_count"].max()),
                               hover_name="States", title=f"{year} TRANSACTION COUNT", fitbounds= "locations",
                               height=600,width=600)
    
    
    fig_ind_map2.update_geos(visible=False)
    fig_ind_map2.show()

    return Trans

In [9]:
#Transaction_Quarter_Based
def Transaction_amount_count_Year_Quarter(df,  quarter):
    Trans=df[df["Quarter"]==quarter]
    Trans.reset_index(drop=True, inplace=True)


    transG=Trans.groupby("States")[["Transaction_count","Transaction_Amount"]].sum()
    transG.reset_index(inplace=True)

    fig_Amount=px.bar(transG, x="States", y="Transaction_Amount",  title=f"{Trans['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_Amount.show()


    fig_Count=px.bar(transG, x="States", y="Transaction_count",  title=f"{Trans['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Agsunset, height=650, width=600)
    fig_Count.show()


    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response=requests.get(url)
    data1=json.loads(response.content)

    state_name=[]
    for features in data1["features"]:
        state_name.append(features["properties"]["ST_NM"])
    state_name.sort()

    fig_ind_map1=px.choropleth(transG, geojson=data1, locations="States", featureidkey="properties.ST_NM", 
                               color= "Transaction_Amount", color_continuous_scale= "ylgnbu", 
                               range_color=(transG["Transaction_Amount"].min(), transG["Transaction_Amount"].max()),
                               hover_name="States", title=f"{Trans['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations",
                               height=600,width=600)
    
    
    fig_ind_map1.update_geos(visible=False)
    fig_ind_map1.show()

    fig_ind_map2=px.choropleth(transG, geojson=data1, locations="States", featureidkey="properties.ST_NM", 
                               color= "Transaction_count", color_continuous_scale= "ylgnbu", 
                               range_color=(transG["Transaction_count"].min(), transG["Transaction_count"].max()),
                               hover_name="States", title=f"{Trans['Years'].min ()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations",
                               height=600,width=600)
    
    
    fig_ind_map2.update_geos(visible=False)
    fig_ind_map2.show()

    return Trans

In [10]:
#Aggre_Transaction_Type
def Agg_Tran_Tras_Type(df, state):

    Trans=df[df["States"]==state]
    Trans.reset_index(drop=True, inplace=True)
    Trans
    transG=Trans.groupby("Transaction_Type")[["Transaction_count","Transaction_Amount"]].sum()
    transG.reset_index(inplace=True)

    fig_pie_A=px.pie(data_frame=transG, names="Transaction_Type", values="Transaction_Amount", 
                    width=600, title=f"{state.upper()} TRANSACTION AMOUNT", hole=0.7)

    fig_pie_A.show()

    fig_pie_B=px.pie(data_frame=transG, names="Transaction_Type", values="Transaction_count", 
                    width=600, title=f"{state.upper()} TRANSACTION AMOUNT", hole=0.7)

    fig_pie_B.show()

In [11]:
#Aggre_User_Type
def Agg_User_Plot(df, year):
    tra_Agg_user=df[df["Years"]==year]
    tra_Agg_user.reset_index(drop=True, inplace=True) 

    tra_Agg_user_G=pd.DataFrame(tra_Agg_user.groupby("Brands")["Transaction_count"].sum())
    tra_Agg_user_G.reset_index(inplace=True)

    fig_bar_A=px.bar(tra_Agg_user_G, x="Brands", y="Transaction_count", title=f"{year} BRANDS AND TRANSACTION COUNT",
                    width=800, color_discrete_sequence=px.colors.sequential.Jet, hover_name="Brands")

    fig_bar_A.show()

    return tra_Agg_user

In [12]:
#Aggre_User_Type_2
def Agg_User_Plot_2(df, quarter):
    tra_Agg_user_Quarter=df[df["Quarter"]==quarter]
    tra_Agg_user_Quarter.reset_index(drop=True, inplace=True)

    tra_Agg_user_Quarter_group=pd.DataFrame(tra_Agg_user_Quarter.groupby("Brands")["Transaction_count"].sum())
    tra_Agg_user_Quarter_group.reset_index(inplace=True)

    fig_bar_A=px.bar(tra_Agg_user_Quarter_group, x="Brands", y="Transaction_count", title= f"{quarter} QUARTER BRANDS AND TRANSACTION COUNT",
                    width=800, color_discrete_sequence=px.colors.sequential.Jet, hover_name="Brands")

    fig_bar_A.show()

    return tra_Agg_user_Quarter

In [13]:
#Aggre_User_Type_3
def Agg_User_Plot_3(df, state):
    Agg_user_year_Q_S=df[df ["States"]== state]
    Agg_user_year_Q_S.reset_index(drop=True, inplace=True)

    fig_Line_A=px.line(Agg_user_year_Q_S, x= "Brands", y= "Transaction_count", hover_data= "Percentage",
                    title= "BRANDS, TRANSACTION COUNT, PERCENTAGE", width=800, markers=True)
    fig_Line_A.show()

In [14]:
#Map_Inssurance_district
def tra_Map_Insurance_District(df, state):

    Trans=df[df["States"]==state]
    Trans.reset_index(drop=True, inplace=True)
    Trans
    transG=Trans.groupby("District")[["Transaction_count","Transaction_Amount"]].sum()
    transG.reset_index(inplace=True)

    fig_bar_A=px.bar(transG, x= "Transaction_Amount", y= "District", orientation="h",
                     title=f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence=px.colors.sequential.Mint_r)

    fig_bar_A.show()

    fig_bar_B=px.bar(transG, x= "Transaction_count", y= "District", orientation="h",
                     title=f"{state.upper()} DISTRICT AND TRANSACTION COUNT", color_discrete_sequence=px.colors.sequential.Mint_r)
    fig_bar_B.show()

In [15]:
# Map_User_Plot_1
def Map_User_Plot_1(df, year):
    tra_Map_user=df[df["Years"]==year]
    tra_Map_user.reset_index(drop=True, inplace=True) 

    tra_Map_user_G=tra_Map_user.groupby("States")[["RegisteredUser","AppOpens"] ].sum()
    tra_Map_user_G.reset_index(inplace=True)

    fig_Line_A=px.line(tra_Map_user_G, x= "States", y= ["RegisteredUser","AppOpens"],
                    title= f"{year} REGISTERED USER, APPOPENS", width=800,height=750, markers=True)
    fig_Line_A.show()

    return tra_Map_user

In [16]:
# Map_User_Plot_2
def Map_User_Plot_2(df, quarter):
    tra_Map_user_Quarter=df[df["Quarter"]==quarter]
    tra_Map_user_Quarter.reset_index(drop=True, inplace=True) 

    tra_Map_user_Year_G=tra_Map_user_Quarter.groupby("States")[["RegisteredUser","AppOpens"] ].sum()
    tra_Map_user_Year_G.reset_index(inplace=True)

    fig_Line_B=px.line(tra_Map_user_Year_G, x= "States", y= ["RegisteredUser","AppOpens"],
                    title= f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERED USER, APPOPENS", width=800,height=750, markers=True,
                    color_discrete_sequence=px.colors.sequential.Bluyl)
    fig_Line_B.show()

    return tra_Map_user_Quarter

In [17]:
# Map_User_Plot_3
def Map_User_Plot_3(df, states):
    tra_Map_user_Quarter_State=df[df["States"]==states]
    tra_Map_user_Quarter_State.reset_index(drop=True, inplace=True)

    fig_map_user_bar_1=px.bar(tra_Map_user_Quarter_State, x= "RegisteredUser", y= "Districts", orientation="h",
                            title= "REGISTERED USER", height=1000, color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2=px.bar(tra_Map_user_Quarter_State, x= "AppOpens", y= "Districts", orientation="h",
                            title= "APPOPENS", height=1000, color_discrete_sequence=px.colors.sequential.Rainbow)
    fig_map_user_bar_2.show()

In [18]:
# Top_Insurance_Plot_1
def Top_Insurance_Plot_1(df, state):
    tra_Top_Insurance_State=df[df["States"]==state]
    tra_Top_Insurance_State.reset_index(drop=True, inplace=True) 

    tra_Top_Insurance_State_G=tra_Top_Insurance_State.groupby("Pincodes")[["Transaction_count","Transaction_Amount"] ].sum()
    tra_Top_Insurance_State_G.reset_index(inplace=True)

    fig_top_insurance_bar_1=px.bar(tra_Top_Insurance_State, x= "Quarter", y= "Transaction_Amount", hover_data="Pincodes",
                            title= "TRANSACTION AMOUNT", height=1000, color_discrete_sequence=px.colors.sequential.Sunsetdark)
    fig_top_insurance_bar_1.show()

    fig_top_insurance_bar_2=px.bar(tra_Top_Insurance_State, x= "Quarter", y= "Transaction_count", hover_data="Pincodes",
                            title= "TRANSACTION AMOUNT", height=1000, color_discrete_sequence=px.colors.sequential.Cividis_r)
    fig_top_insurance_bar_2.show()

In [19]:
# Top_User_Plot_1
def Top_User_Plot_1(df, year):    
    tra_Top_User=df[df["Years"]==year]
    tra_Top_User.reset_index(drop=True, inplace=True)

    tra_Top_User_G=pd.DataFrame(tra_Top_User.groupby(["States", "Quarter"])["RegisteredUser"].sum())
    tra_Top_User_G.reset_index(inplace=True)
    tra_Top_User_G

    fig_Top_plot_1= px.bar(tra_Top_User_G, x= "States", y= "RegisteredUser", color= "Quarter", width= 600, height=650,
                        color_discrete_sequence=px.colors.sequential.Viridis, hover_name= "States",
                        title=f"{year} REGISTERED USER")
    fig_Top_plot_1.show()

    return tra_Top_User

In [20]:
# Top_User_Plot_2
def Top_User_Plot_2(df, state):
    tra_Top_user_State=df[df["States"]== state]
    tra_Top_user_State.reset_index(drop=True, inplace=True)

    fig_Top_plot_2= px.bar(tra_Top_user_State, x= "Quarter", y= "RegisteredUser", title= "REGISTERED USER, PINCODES, QUARTER",
                        width=800, height=650, color= "RegisteredUser", hover_data= "Pincodes",
                        color_continuous_scale= px.colors.sequential.Hot_r)
    fig_Top_plot_2.show()

#### Aggregrated_Insurance

In [ ]:
tra_Y=Transaction_amount_count_Year(Agg_Insurance, 2023)

In [ ]:
Transaction_amount_count_Year_Quarter(tra_Y,  1)

#### Aggregrated_Transaction

In [ ]:
tra_Agg_tra=Transaction_amount_count_Year(Agg_Transaction, 2023)

In [ ]:
Agg_Tran_Tras_Type(tra_Agg_tra, "Kerala")

In [ ]:
tra_Agg_tra_Quarter=Transaction_amount_count_Year_Quarter(tra_Agg_tra,  1)

In [ ]:
Agg_Tran_Tras_Type(tra_Agg_tra_Quarter, "Kerala")

### Aggregrated_User

In [ ]:

Agg_user_year=Agg_User_Plot(Agg_User, 2021)

In [ ]:
Agg_user_year_Quarter=Agg_User_Plot_2(Agg_user_year, 3)

In [ ]:
Agg_User_Plot_3(Agg_user_year_Quarter, "Andaman & Nicobar")

#### Map_Insurance

In [ ]:
tra_Map_Insurance_Year=Transaction_amount_count_Year(Map_Insurance, 2023)

In [ ]:
tra_Map_Insurance_District(tra_Map_Insurance_Year, "Tamil Nadu")

In [ ]:
tra_Map_Insurance_Year_Quarter=Transaction_amount_count_Year_Quarter(tra_Map_Insurance_Year,  2)

In [ ]:
tra_Map_Insurance_District(tra_Map_Insurance_Year_Quarter, "Kerala")

#### Map_Transaction

In [ ]:
tra_Map_Tranaction_Year=Transaction_amount_count_Year(Map_Transaction, 2022)

In [ ]:
tra_Map_Insurance_District(tra_Map_Tranaction_Year, "Tamil Nadu")

In [ ]:
tra_Map_Transaction_Year_Quarter=Transaction_amount_count_Year_Quarter(tra_Map_Tranaction_Year,  4)

In [ ]:
tra_Map_Insurance_District(tra_Map_Transaction_Year_Quarter, "Kerala")

In [ ]:
Map_Transaction

#### Map_User

In [ ]:
tra_Map_User_Year=Map_User_Plot_1(Map_User, 2021)

In [ ]:
tra_Map_User_Year_Quarter=Map_User_Plot_2(tra_Map_User_Year, 4)

In [ ]:
Map_User_Plot_3(tra_Map_User_Year_Quarter, "Bihar")

#### Top_Insurance

In [ ]:
tra_Top_Insurance_Year= Transaction_amount_count_Year(Top_Insurance,  2022)

In [ ]:
Top_Insurance_Plot_1(tra_Top_Insurance_Year, "West Bengal")

In [ ]:
tra_Top_Insurance_Year_Quarter=Transaction_amount_count_Year_Quarter(tra_Top_Insurance_Year,  4)

#### Top_transaction

In [ ]:
tra_Top_Transaction_Year= Transaction_amount_count_Year(Top_Transaction,  2022)

In [ ]:
Top_Insurance_Plot_1(tra_Top_Transaction_Year, "West Bengal")

In [ ]:
tra_Top_Transaction_Year_Quarter=Transaction_amount_count_Year_Quarter(tra_Top_Transaction_Year,  4)

#### Top_User

In [ ]:
tra_Top_User_Year=Top_User_Plot_1(Top_User, 2019)

In [ ]:
Top_User_Plot_2(tra_Top_User_Year, "West Bengal")

In [ ]:
tra_Top_User_Year